<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @possible_day.day %>
</p>

<p>
  <strong>From date:</strong>
  <%= @possible_day.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @possible_day.to_date %>
</p>

<p>
  <strong>From time:</strong>
  <%= @possible_day.from_time %>
</p>

<p>
  <strong>To time:</strong>
  <%= @possible_day.to_time %>
</p>

<p>
  <strong>Event:</strong>
  <%= @possible_day.event %>
</p>

<%= link_to 'Edit', edit_possible_day_path(@possible_day) %> |
<%= link_to 'Back', possible_days_path %>
